<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Новогоднее поздравление за 39 рублей</title>
    <link rel="stylesheet" href="static/css/style.css">
</head>

<body>
    <div class="nav ">
        <div class="nav-container container">
            <a class="nav-link" href="/">Homepage</a>
            <a class="nav-link" href="/search">Search letter</a>
            <a class="nav-link button nav-right" href="/form">New letter</a>
        </div>
    </div>

    {% block body %}{% endblock %}
</body>

</html>